@use "@/styles/mixins.scss" as *;

.questionToggle {
  @include flex(space-between, center);
  width: 100%;
  gap: var(--pad-3);
  height: fit-content;
}

.questionToggle:hover .plus {
  transform: rotate(90deg);
}
.questionWrapper {
  .question {
    border-bottom: 1.5px solid rgba(#000, 0.1);
  }

  &:last-child .question {
    border-bottom: unset;
  }

  // current open item
  &:has(.minus) .question {
    border-bottom: unset;
  }

  // previous item when next one is open
  &:has(+ .questionWrapper .minus) .question {
    border-bottom: unset;
  }
}

.plus {
  transition: transform var(--transition-time) ease;
  animation: rotateIcon var(--transition-time) ease;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
