@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --heading-font-size: 42px;
  --paragraph-font-size: 30px;
  --top-span: 3px;
  @media (min-width: $tablet) {
    --heading-font-size: 64px;
    --top-span: 5px;
  }

  @media (min-width: $laptop) {
    --paragraph-font-size: 32px;
  }

  @media (min-width: $desktop) {
    --paragraph-font-size: 40px;
    --top-span: 8px;
    --heading-font-size: 90px;
  }
}

.strong {
  font-family: var(--font-finger-paint);
  color: var(--yellow);
  font-weight: 400 !important;
}
