@import "@/styles/mixins.scss";

@mixin sizing($font, $size) {
  font-size: var(--heading#{$font}-h#{$size});
  line-height: var(--heading#{$font}-h#{$size}-line);
}

@mixin level($font, $desk, $lap, $tab, $mob) {
  @include sizing($font, $mob);

  @media (min-width: $tablet) {
    @include sizing($font, $tab);
  }

  @media (min-width: $laptop) {
    @include sizing($font, $lap);
  }

  @media (min-width: $desktop) {
    @include sizing($font, $desk);
  }
}

.heading {
  text-decoration: none !important;
  &.clickable {
    &:hover {
      color: var(--yellow) !important;
    }
  }
}

.outfit {
  font-family: var(--font-outfit);

  font-weight: 900;

  @for $i from 1 through 5 {
    &.level#{$i} {
      @include level(-outfit, $i, $i + 1, $i + 1, $i + 2);
    }
  }
  // &.level4 {
  //   @include level(-outfit, 4, 4, 4, 5);
  // }
  // &.level5 {
  //   @include level(-outfit, 5, 5, 5, 5);
  // }
}

.cursive {
  font-family: var(--font-finger-paint);
  position: relative;
  font-weight: 400;
  text-shadow: var(--text-shadow);
  @for $i from 1 through 3 {
    &.level#{$i} {
      @include level(-finger-paint, $i, $i + 1, $i + 1, $i + 2);
    }
  }
  &.level4 {
    @include level(-finger-paint, 4, 4, 4, 5);
  }
  &.level5 {
    @include level(-finger-paint, 5, 5, 5, 5);
  }

  // &:before {
  //   content: attr(data-text); // Duplicate text
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   color: black; // Shadow color
  //   filter: blur(3px); // Blurred shadow effect
  //   mix-blend-mode: multiply; // Makes it blend inside the text
  //   -webkit-background-clip: text; // ✅ Clips shadow inside the text
  //   background-clip: text;
  //   z-index: -1;
  // }
}
