@import "@/styles/mixins.scss";

.reviews {
  z-index: 0;
  .map {
    border: unset;
    width: 100%;
  }
  a:last-child {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    translate: 0 200px;
  }
}
