@use "@/styles/mixins.scss" as *;

.services {
  @include vari(--columns, 1, 2, 2, 2);
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;
  row-gap: var(--pad-9) !important;
}

.serviceContainer {
  position: relative;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 5/4;
  border-radius: 8px;
  box-shadow: var(--light-grey-shadow);
  overflow: hidden;
  transition: var(--transition-time-backoff);
  cursor: pointer;
  * {
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      33deg,
      hsl(from var(--black) h s l / 0.2) 0%,
      hsl(from var(--yellow) h s l / 0.1) 100%
    );
    opacity: 1;
    transition: opacity var(--transition-time-backoff);
    z-index: 1;
  }
  .image {
    position: absolute !important;
    inset: 0;
    width: 100%;
    z-index: 0;
    transition: transform var(--transition-time-backoff);
  }

  &:hover {
    &::before {
      opacity: 0;
      transition: opacity var(--transition-time);
    }
    .image {
      transform: scale(1.05);
      transition: transform var(--transition-time);
    }
  }
}
