@use "@/styles/mixins.scss" as *;

.block {
  z-index: 2;

  .heading {
    width: 100%;
  }
}
.questions {
  @include vari(--columns, 1, 1, 3, 3);
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;
  .question {
    border-radius: 8px;
    box-shadow: var(--light-grey-shadow);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: var(--yellow);
      width: 50%;
      height: 4px;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: var(--yellow);
      width: 4px;
      height: 40px;
      z-index: 1;
    }
  }

  // ul,
  // ol {
  //   padding-left: 1.5rem;
  // }

  // ul {
  //   list-style-type: disc;
  // }

  // ol {
  //   list-style-type: decimal;
  // }
}
