@use "@/styles/mixins.scss" as *;

.block {
  z-index: 2;

  .heading {
    width: 100%;
  }
}

.questions {
  @include vari(--columns, 1, 1, 3, 3);
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;
}
.icon {
  @include vari(height, 48px, 64px, 64px, 72px);
  position: absolute;
  top: -16px;
  left: -4px;
  z-index: -1;
}
.title {
  -webkit-text-stroke: 8px white;
  text-stroke: 8px white;
  paint-order: stroke fill;
}
