@import "@/styles/mixins.scss";

@mixin vars() {
  --stroke-width: 300px;
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --stroke-width: 450px;
  }

  @media (min-width: $desktop) {
    --stroke-width: 600px;
  }
}

.stroke {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(185deg);
  width: 120%;
  height: auto;
  z-index: 1;
}

.headings {
  z-index: 2;
}
