@import "@/styles/mixins.scss";

@mixin vars() {
  --stroke-width: 300px;
  --border-width: 8px;
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --stroke-width: 450px;
  }

  @media (min-width: $desktop) {
    --stroke-width: 600px;
  }
}

.customBlock {
  // .wrapper {
  //   width: var(--screen-width-large);
  //   .title {
  //     position: relative;
  //     z-index: 2;
  //     .question {
  //       position: absolute;
  //       right: -10%;
  //     }
  //   }
  //   img {
  //     position: absolute;
  //     filter: grayscale(100%) brightness(0%);
  //     width: var(--stroke-width) !important;
  //     height: 10000px !important;
  //     object-fit: scale-down !important;
  //     transform: rotate(60deg) translateX(-1%) !important;
  //     inset: unset !important;
  //   }
  // }
}
