@use "@/styles/mixins.scss" as *;

:root {
  --tablet: 640px;
  --laptop: 1200px;
  --desktop: 1680px;

  --transition-time-backoff: 150ms;
  --transition-time: 300ms;

  --border-radius: 8px;
  --border-radius-large: calc(var(--border-radius) * 2);
  --border-radius-small: calc(var(--border-radius) / 2);

  --white: #ffffff;
  --off-white: #f4f1ea;
  --black: #0c0b08;
  --light-grey: #a7a49f;
  --dark-grey: #595853;
  --yellow: #fec301;
  --beige: rgb(214, 175, 90);
  --grad: linear-gradient(90deg, #feb201 0%, #fecb01 100%);
  --error: #e66237;

  --text-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
  --drop-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  --black-shadow: 3px 3px 0px 0px var(--black);

  --pad-0: 0px;
  --pad-1: 2px;
  --pad-2: 4px;
  --pad-3: 8px;
  --pad-4: 16px;
  --pad-5: 24px;
  --pad-6: 32px;
  --pad-7: 48px;
  --pad-8: 64px;
  --pad-9: 96px;
  --pad-10: 128px;
  --pad-11: 192px;
  --pad-12: 256px;
  --pad-13: 320px;

  --heading-outfit-h1: 96px;
  --heading-outfit-h2: 64px;
  --heading-outfit-h3: 42px;
  --heading-outfit-h4: 32px;
  --heading-outfit-h5: 22px;

  --heading-outfit-line: 1em;

  --heading-finger-paint-h1: 96px;
  --heading-finger-paint-h2: 64px;
  --heading-finger-paint-h3: 42px;
  --heading-finger-paint-h4: 32px;
  --heading-finger-paint-h5: 22px;
  --heading-finger-paint-h6: 16px;

  --heading-finger-paint-line: 1.2em;

  --paragraph-big: 32px;
  --paragraph-regular: 22px;
  --paragraph-small: 16px;
  --paragraph-extra-small: 12px;

  --navbar-height: 96px;
  --screen-width-small: 100%;
  --screen-width-large: 100%;
  --max-height: 1600px;
  --screen-width-large: calc(100vw - var(--pad-7));

  @media (min-width: $tablet) {
    --max-height: 1600px;
    --screen-width-large: calc(100vw - var(--pad-10));
  }

  @media (min-width: $laptop) {
    --navbar-height: 80px;
    --max-height: 1920px;
    --screen-width-large: calc(100vw - var(--pad-11));
  }

  @media (min-width: $desktop) {
    --navbar-height: 96px;
    --screen-width-small: var(--laptop);
    --screen-width-large: calc(var(--desktop) - var(--pad-11));
    --max-height: 2160px !important;
  }
}
