@import-normalise;
@import "./vars.scss";

:root {
  --tablet: 640px;
  --laptop: 1200px;
  --desktop: 1680px;

  --transition-time-backoff: 100ms;
  --transition-time: 200ms;

  --border-radius: 8px;
  --border-radius-large: calc(var(--border-radius) * 2);
  --border-radius-small: calc(var(--border-radius) / 2);

  --white: #ffffff;
  --black: #0f0f0f;
  --grey: #bcbcbc;
  --yellow: #fec301;
  --error: #ca3207;
  --grad: linear-gradient(90deg, #feb201 0.25%, #fecb01 99.75%);

  --text-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
  --hard-shadow: 2px 2px 0px 0px var(--grey);

  --pad-0: 0px;
  --pad-1: 2px;
  --pad-2: 4px;
  --pad-3: 8px;
  --pad-4: 16px;
  --pad-5: 24px;
  --pad-6: 32px;
  --pad-7: 48px;
  --pad-8: 64px;
  --pad-9: 96px;
  --pad-10: 128px;
  --pad-11: 192px;
  --pad-12: 256px;
  --pad-13: 320px;

  --heading-outfit-h1: 160px;
  --heading-outfit-h2: 96px;
  --heading-outfit-h3: 64px;
  --heading-outfit-h4: 40px;
  --heading-outfit-h5: 32px;

  --heading-outfit-h1-line: 1.2em;
  --heading-outfit-h2-line: 1.2em;
  --heading-outfit-h3-line: 1.2em;
  --heading-outfit-h4-line: 1.2em;
  --heading-outfit-h5-line: 1.2em;

  --heading-finger-paint-h1: 160px;
  --heading-finger-paint-h2: 96px;
  --heading-finger-paint-h3: 64px;
  --heading-finger-paint-h4: 40px;
  --heading-finger-paint-h5: 32px;

  --heading-finger-paint-h1-line: 1.2em;
  --heading-finger-paint-h2-line: 1.2em;
  --heading-finger-paint-h3-line: 1.2em;
  --heading-finger-paint-h4-line: 1.2em;
  --heading-finger-paint-h5-line: 1.2em;

  --paragraph-big: 24px;
  --paragraph-regular: 20px;
  --paragraph-small: 16px;

  --navbar-height: 64px;
  --screen-width-small: 100%;
  --screen-width-large: 100%;
  --max-height: 1600px;

  @media (min-width: $tablet) {
    --navbar-height: 80px;

    --max-height: 1600px;
  }

  @media (min-width: $laptop) {
    --max-height: 1920px;
  }

  @media (min-width: $desktop) {
    --navbar-height: 96px;
    --screen-width-small: calc(var(--laptop));
    --screen-width-large: calc(var(--desktop));
    --max-height: 2160px !important;
  }
}

html,
body,
#root {
  height: 100%;
}

img {
  margin: 0;
}
