@use "@/styles/mixins.scss" as *;

.tabButton {
  @include flexColumn(flex-start);
  position: relative;

  &:hover .textWrapper p {
    transition: color 100ms;
    color: var(--yellow) !important;
  }
}

/* THIS is the missing piece */
.tabButtonTrigger {
  cursor: default;
}

.line {
  @include vari(height, 0px, 0px, 3px, 4px);
  @include vari(bottom, 0px, 0px, 22px, 24px);
  position: absolute;
  width: 100%; // Cleanup: Removed redundant max-width since width is sufficient
  path {
    fill: var(--yellow);
  }
}

.dropdown {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--yellow);
  transform: translateY(110%);

  border-radius: 0 0 4px 4px;
}
