@use "@/styles/mixins.scss" as *;

.tabButton {
  @include flexColumn(flex-start);
  position: relative;
  cursor: pointer;
  // Cleanup: Simplified hover styles by removing nested selectors
  &:hover .textWrapper p {
    transition: color 100ms;
    color: var(--yellow) !important;
  }
}

.line {
  position: absolute;
  bottom: var(--pad-5);
  height: 6px;
  width: 100%; // Cleanup: Removed redundant max-width since width is sufficient
  path {
    fill: var(--yellow);
  }
}

.dropdown {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--yellow);
  transform: translateY(110%);

  border-radius: 0 0 4px 4px;
}
