@use "@/styles/mixins.scss" as *;

.workModal {
  @include vari(width, 50vh, 50vh, 50vh, 50vh);
}
.title {
  width: 100%;
  // flex: 1;
}

.desc {
  width: 100%;
  flex: 1;
}

.content {
  // width: 100%;
  flex-shrink: 1;
}
