@use "@/styles/mixins.scss" as *;

.workModal {
  @include vari(width, 100%, 100%, 50vh, 60vh);
  //  @media (min-width: $laptop) {
  //   margin-bottom: var(--pad-4);
  // }
}
.title {
  width: 100%;
  // flex: 1;
}

.desc {
  width: 100%;
  flex: 1;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: var(--pad-3);
}

.content {
  // width: 100%;
  flex-shrink: 1;
}
