@use "@/styles/mixins.scss" as *;

.workModal {
  display: flex;
  flex-direction: column;
  gap: var(--pad-3);
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.title {
  width: 100%;
}
