@use "@/styles/mixins.scss" as *;

.workBlock {
  --main-color: var(--white);
  align-items: flex-start !important;

  .card {
    --transition: 200ms;
    --dark-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    --light-shadow: 0 -4px 10px rgba(255, 255, 255, 0.5);
    @include vari(height, auto, auto, 300px, 400px);
    @include vari(aspect-ratio, 4/3, 4/3, unset);
    position: relative;
    overflow: visible;
    overflow-x: clip;
    border-radius: var(--border-radius);

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      height: 8px;
      width: 100%;
      left: 0;
      transform: translateY(100%);
      background-color: var(--main-color);
      z-index: 2;
    }

    cursor: default;

    .image {
      min-height: 100% !important;
      border-radius: var(--border-radius-small);

      img {
        transition: var(--transition);
      }
      &:after {
        transition: var(--transition);
        position: absolute;
        content: "";
        inset: 0;
        z-index: 1;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 1) 0%,
          transparent 35%
        );
        mix-blend-mode: luminosity;
        box-shadow: inset var(--dark-shadow);
        opacity: 1;
      }
    }

    .title {
      position: absolute !important;
      left: 0.2em;
      bottom: -0.15em;
      transition: calc(var(--transition) * 2);
      z-index: 1;
      max-width: 85%;
      text-shadow: var(--dark-shadow);
      color: var(--main-color) !important;
    }

    &:hover {
      .image {
        img {
          transform: scale(1.1);
        }
        &:after {
          opacity: 0;
        }
      }
      .title {
        transform: translateX(-120%);
      }
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &.yellow {
    --main-color: var(--yellow);
  }
}

.link {
  display: block;
  cursor: pointer;

  .card {
    cursor: pointer;
  }
}

.desc {
  border-left: 4px solid var(--black);
  padding: 0 var(--pad-4);

  box-sizing: border-box;
}
