@use "@/styles/mixins.scss" as *;

@mixin sizing($font, $size) {
  font-size: var(--heading#{$font}-h#{$size});
  line-height: var(--heading#{$font}-h#{$size}-line);
}

@mixin level($font, $desk, $lap, $tab, $mob) {
  & {
    @include sizing($font, $mob);
  }
  @media (min-width: $tablet) {
    & {
      @include sizing($font, $tab);
    }
  }

  @media (min-width: $laptop) {
    & {
      @include sizing($font, $lap);
    }
  }

  @media (min-width: $desktop) {
    & {
      @include sizing($font, $desk);
    }
  }
}

@mixin leveling($var) {
  @for $i from 1 through 3 {
    &.level#{$i} {
      @include vari(--shadow-size, 2px 2px, 3px 3px, 3px 3px, 4px 4px);
      @include level($var, $i, $i + 1, $i + 1, $i + 2);
    }
  }
  &.level4 {
    @include vari(--shadow-size, 2px 2px, 2px 2px);
    @include level($var, 4, 4, 4, 5);
  }
  &.level5 {
    @include vari(--shadow-size, 2px 2px, 2px 2px);

    @include level($var, 5, 5, 5, 5);
  }
}
.heading {
  text-decoration: none !important;

  &.clickable {
    &:hover {
      color: var(--yellow) !important;
    }
  }
}

.outfit {
  font-family: var(--font-outfit);
  font-weight: 900;
  @include leveling(-outfit);

  &.white {
    text-shadow: 0px 0px 12px hsl(from var(--black) h s l / 0.6);
  }
}

.cursive {
  position: relative;
  font-family: var(--font-finger-paint);
  @include leveling(-finger-paint);

  &.yellow {
    text-shadow: var(--shadow-size) 0px hsl(from var(--black) h s l / 0.6);
  }
}

.cursiveX {
  font-family: var(--font-finger-paint);
  font-weight: 700 !important;
  color: var(--grey) !important;
  // Add any additional styling for the "x" if needed
}

.svgText {
  // Ensure SVG inherits parent font size and line height
  font-size: inherit;
  line-height: inherit;
  paint-order: stroke fill;
}
