@use "@/styles/mixins.scss" as *;

.inputContainer {
  flex: 1 1;
  height: fit-content;
  width: 100%;
  // min-width: fit-content;
  max-width: 100%;

  &.shrink {
    flex: 0 1 auto;
  }

  .invalid {
    outline: 2px solid var(--error);
  }
  .required {
    color: var(--yellow);
    font-weight: 900 !important;
  }
  // .label {
  //   width: fit-content !important;
  // }
}

.honeyPot {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
