@use "@/styles/mixins.scss" as *;

.inputContainer {
  flex: 1;
  width: 100%;
  min-width: fit-content;
  .invalid {
    outline: 2px solid var(--error);
  }
  .required {
    color: var(--yellow);
    font-weight: 900 !important;
  }
}

.honeyPot {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
