@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --ratio: 4/3;
  --circle-border-width: 4px;
  --paragraph-max-lines: 8;

  --container-height: calc(100vh - 100px);

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
    --circle-border-width: 6px;

    --paragraph-max-lines: 12;
  }
}

.container {
  @include vari(--circle-size, 56px, 96px, 96px, 128px);
  position: relative;
  height: auto;

  .right {
    flex: 1;
    .process {
      @include vars;
      position: relative;
      scroll-snap-type: y mandatory; // Enables snapping

      &::-webkit-scrollbar {
        display: none; // Optional: Hide scrollbar for a cleaner look
      }
    }
  }
  @media (min-width: $laptop) {
    flex-direction: row !important;
    align-items: flex-start !important;
  }
}
