@import "@/styles/mixins.scss";

.container {
  @media (min-width: $laptop) {
    flex-direction: row !important;
    align-items: stretch !important;
  }

  > * {
    &:first-child {
      @media (min-width: $laptop) {
        flex: 1;
      }
    }
    &:last-child {
      @media (min-width: $laptop) {
        flex: 1;
      }
    }
  }

  .totalPrice {
    p {
      width: fit-content;
    }
  }
}
