@import "../../css/mixins.scss";

.tabButton {
  @include flexColumn;
  position: relative;
  .line {
    position: absolute;
    bottom: 0;
    max-width: 110%;
    width: 110%;
    path {
      fill: var(--yellow);
    }
  }
  .dropdown {
    background: var(--white);
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
  }
}
