@import "../css/mixins.scss";

.app {
  @include flexColumn(flex-start, flex-start);

  min-height: 100%;
  overflow-x: hidden;
  position: relative;

  .page {
    @include flexColumn(flex-start, flex-start);

    padding-top: var(--navbar-height);
    width: 100%;
    flex: 1;
  }
}
