@import "../../../../css/mixins.scss";

.wrapper {
  background-color: var(--black);
  figure {
    flex: 1;
    height: 400px !important;

    img {
      width: auto !important;
      min-width: 100%;
    }
  }
}
