@use "@/styles/mixins.scss" as *;

.container {
  position: relative;

  .image {
    flex: 2;
    aspect-ratio: d(3, 4); /* Square container */
    border-radius: 8px;
    background: linear-gradient(-60deg, var(--yellow) 57%, var(--white) 57%);
    overflow: hidden; /* Ensure image respects border-radius */
    box-shadow: var(--drop-shadow);

    // /* Decorative circle */
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 30%;
    //   left: 0;
    //   transform: translateY(-50%);
    //   width: 33%;
    //   aspect-ratio: 1;
    //   border-radius: 50%;
    //   background: var(--black);
    //   z-index: 2;
    // }

    // /* Decorative shape */
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 15%;
    //   left: 25%;
    //   transform: translateY(-50%) rotate(-20deg);
    //   width: 10%;
    //   aspect-ratio: 1;
    //   background: var(--white);
    //   border: 6px solid var(--black);
    //   z-index: 2;
    // }
  }

  .textContainer {
    flex: 3;
  }

  @media (min-width: $tablet) {
    flex-direction: row !important;
    .image {
      position: sticky !important;
      top: calc(var(--navbar-height) + var(--pad-5));
    }
  }
}
