@import "../../../../styles/mixins.scss";

@mixin vars() {
  --ratio: 4/3;
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --ratio: 4/3;
  }

  @media (min-width: $desktop) {
  }
}

.article {
  @include vars;

  background-color: var(--white);
  background-image: url("/photos/Textures/FabricTexture.png");
  background-repeat: repeat-x;
  background-position: bottom;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: var(--pad-1);
  .imgWrapper {
    height: 100%;
    // padding-top: var(--img-pad-top);
    aspect-ratio: var(--ratio);
    flex: 1;
  }
  .text {
    flex: 1;
  }
}
