@use "@/styles/mixins.scss" as *;

.container {
  position: relative;

  .image {
    flex: 2;
    position: sticky !important;
    top: calc(var(--navbar-height) + var(--pad-5));
    aspect-ratio: 1; /* Square container */
    border-radius: 50%;
    background: linear-gradient(-60deg, var(--yellow) 57%, var(--white) 57%);
    overflow: hidden; /* Ensure image respects border-radius */

    /* Decorative circle */
    &:after {
      content: "";
      position: absolute;
      top: 30%;
      left: 0;
      transform: translateY(-50%);
      width: 33%;
      aspect-ratio: 1;
      border-radius: 50%;
      background: var(--black);
    }

    /* Decorative shape */
    &:before {
      content: "";
      position: absolute;
      top: 15%;
      left: 25%;
      transform: translateY(-50%) rotate(-20deg);
      width: 10%;
      aspect-ratio: 1;
      background: var(--white);
      border: 6px solid var(--black);
    }
  }

  .textContainer {
    flex: 3;
  }

  @media (min-width: $tablet) {
    flex-direction: row !important;
  }
}
