@import "../../../../styles/mixins.scss";

@mixin vars() {
  --image-width: 200px;
  --img-pad-top: 0;
  @media (min-width: $tablet) {
    --image-width: 100%;
    --img-pad-top: 10px;
  }

  @media (min-width: $laptop) {
    --image-width: 300px;
    --img-pad-top: 12px;
  }

  @media (min-width: $desktop) {
    --image-width: 400px;
    --img-pad-top: 10px;
  }
}

.secondText {
  @media (min-width: $laptop) {
    align-items: flex-start !important;
  }
}
.container {
  @include vars;
  .imgWrapper {
    position: relative;
    height: 100%;
    // padding-top: var(--img-pad-top);
    grid-column: 1;
    width: 100%;
    min-height: var(--image-width);
    figure {
      aspect-ratio: 1;
    }
  }

  @media (min-width: $tablet) {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    .text {
      grid-column: 2;
    }
    .imgWrapper {
      figure {
        aspect-ratio: unset;
      }
    }
  }
  @media (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
    .text {
      grid-column: 2 / 4;
    }
    .imgWrapper {
      figure {
        aspect-ratio: 1;
      }
    }
  }
}
