@use "@/styles/mixins.scss" as *;

.block {
  z-index: 2;

  .heading {
    width: 100%;
  }
}
.questions {
  @include vari(--columns, 1, 1, 3, 3);
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;
  .titleContainer {
    background: var(--grad);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 0;
    min-height: 100px;
    .extraNote {
      background: var(--white);
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 80%;
      transform: rotate(-10deg) translateX(var(--pad-6));
    }
  }
  &.dark {
    .extraNote {
      background: var(--black);
    }
  }
  .desc {
    z-index: 1;
  }
  ul,
  ol {
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}
