@use "@/styles/mixins.scss" as *;

.features {
  @include vari(--columns, 1, 2, 4, 4);
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  align-items: stretch !important;

  .container {
    @include flexColumn(flex-start, flex-start);
    // overflow: hidden;
    .imgWrapper {
      aspect-ratio: 1;

      width: 100%;
      max-width: 100%;
      svg {
        height: 100%;
        width: 100%;
        path {
          &:nth-child(1) {
            fill: var(--black);
          }
          &:nth-child(2) {
            fill: var(--yellow);
          }
        }
      }
    }
    .content {
      flex: 1;
      p {
        @include paragraphMaxLines(5);
      }
    }
  }
}
