@use "@/styles/mixins.scss" as *;

// Triangle overlay mixin (uses --grad-angle and --grad-percent)
@mixin vertTriangle() {
  content: "";
  position: absolute;
  inset: 0 auto 0 0; // left:0; top:0; bottom:0
  width: var(--tri-width, 35%);
  height: 100%;
  background: var(--white);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  z-index: 2;
  pointer-events: none;
}

@mixin horiTriangle() {
  content: "";
  position: absolute;
  inset: 0 -2px auto -2px; // top:0; left:0; right:0
  // width: 102%;
  height: var(--tri-width, 35%);
  background: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  z-index: 2;
  pointer-events: none;
}

.hero {
  // Layout + triangle math
  @include vari(--tri-width, 25%, 15%, 20%, 20%);

  margin-top: calc(var(--navbar-height) - 6px);
  background-color: var(--white);
  position: relative;
  height: fit-content;
  min-height: fit-content;
  max-height: var(--max-height);
  overflow-x: clip;
  z-index: 1;

  .backgroundContainer {
    position: relative;
    width: 100% !important;
    height: auto !important;
    // height: 100% !important;
    overflow: hidden;
    margin-top: calc(var(--marg-top) * -1);

    &::before {
      @include horiTriangle();
      top: -1px;
      left: -4px;
      z-index: 1;
    }
  }

  .backgroundImage {
    // @include vari(--image-height, 100%, 100%, auto, auto);
    width: auto !important;
    height: 100% !important;
    aspect-ratio: var(--ratio);
    // top: -5% !important;
    // object-fit: cover;
    // filter: grayscale(1) brightness(0.4);
  }

  .content {
    z-index: 3;
    height: 100%;
    min-height: 450px;

    .titles {
      @include vari(--titles-width, 100%, 100%, 50%, 50%);
      width: var(--titles-width) !important;

      .title {
        // @include vari(width, 100%, 70%, 55%, 65%);
        z-index: 1;
      }

      .desc {
        @include vari(width, 100%, 100%, 67%, 67%);
        z-index: 1;
      }
    }
  }

  .stroke {
    @include vari(--stroke-height, 100px, 140px, 160px, 200px);
    height: var(--stroke-height);
    position: absolute;
    bottom: var(--marg-top);
    left: 50%;
    transform: translate(-50%, 50%) rotate(2deg);
    width: 120%;
    z-index: 4;
  }

  @media (min-width: $laptop) {
    flex-direction: row !important;

    .backgroundContainer {
      position: absolute !important;
      top: 0;
      right: 0;
      width: auto !important;
      height: 100% !important;
      min-height: unset;
      margin-top: unset;
      &::before {
        @include vertTriangle();
        top: 0;
        left: -1px;
        transform: translate(-1px, 1px);
        z-index: 1;
      }
    }
  }
}

.version1 {
  @include vari(--max-height, 100%, 640px, 640px, 900px);
  @include vari(--ratio, 1, d(13, 15), d(13, 15), d(13, 15));
  @include vari(--marg-top, var(--pad-6), var(--pad-7), 0);
}
.version2 {
  @include vari(--max-height, 100%, 100%, 520px, 640px);
  @include vari(--ratio, 1, d(4, 3), d(4, 3), d(4, 3));
  @include vari(--marg-top, var(--pad-6), var(--pad-3), 0);
  height: var(--max-height) !important;
  // @include vari(--ratio, d(5, 4));;
}
.ctas {
  @include vari(--direction, column, row);
  flex-direction: var(--direction) !important;
}
