@use "@/styles/mixins.scss" as *;

// Triangle overlay mixin (uses --grad-angle and --grad-percent)
@mixin vertTriangle($colour: var(--white)) {
  --x-move: tan(var(--grad-angle)) * 100vh;
  content: "";
  position: absolute;
  width: calc(var(--grad-percent) + (var(--x-move) / 2));
  height: calc(100% + 2px);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transform: scale(1, -1);
  background-color: $colour;
  z-index: 2;
  pointer-events: none;
}

.hero {
  // Layout + triangle math
  @include vari(--grad-angle, 45deg, 20deg, 8deg, 8deg);
  @include vari(--grad-percent, 0%, 35%, 15%, 15%);
  @include vari(--image-width, 100%, 65vw, 45vw, 45vw);
  @include vari(--max-height, 100%, 640px, 640px, 900px);

  background-color: var(--white);
  position: relative;
  height: 100vh;
  min-height: fit-content;
  max-height: var(--max-height);
  overflow-x: clip;
  z-index: 1;

  .backgroundContainer {
    position: relative;
    // width: auto !important;
    height: 100%;
    overflow: hidden;
    margin-top: calc(var(--pad-10) * -1);

    &::before {
      @include vertTriangle(var(--white));
      top: -6px;
      left: -1px;
      z-index: 1;
    }
  }

  .backgroundImage {
    // @include vari(--image-height, 100%, 100%, auto, auto);
    width: auto !important;
    height: 100% !important;
    aspect-ratio: 13/15;
    // top: -5% !important;
    // object-fit: cover;
    // filter: grayscale(1) brightness(0.4);
  }

  .content {
    @include vari(
      --padding-top,
      var(--navbar-height),
      112px,
      160px,
      var(--pad-11)
    );
    padding-top: var(--padding-top) !important;
    z-index: 3;
    height: 100%;

    .titles {
      @include vari(--titles-width, 100%, 65%, 50%, 50%);
      width: var(--titles-width) !important;

      .title {
        // @include vari(width, 100%, 70%, 55%, 65%);
        z-index: 1;
      }

      .desc {
        @include vari(width, 100%, 70%, 67%, 67%);
        z-index: 1;
      }
    }
  }

  .stroke {
    @include vari(--stroke-height, 100px, 120px, 160px, 200px);
    height: var(--stroke-height);
    position: absolute;
    bottom: calc(-1 * (var(--stroke-height) / 2 - var(--pad-7)));
    left: 50%;
    transform: translate(-50%, 50%) rotate(2deg);
    width: 120%;
    z-index: 4;
  }

  @media (min-width: $tablet) {
    flex-direction: row !important;

    .backgroundContainer {
      position: absolute !important;
      top: 0;
      right: 0;
      min-height: unset;
      margin-top: unset;
    }
  }
}

.ctas {
  @include vari(--direction, column, row);
  flex-direction: var(--direction) !important;
}
