@use "@/styles/mixins.scss" as *;
@mixin vars() {
  --icon-height: 32px;
  --image-size: 104px;

  @media (min-width: $tablet) {
    --icon-height: 40px;
    --image-size: 136px;
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
    --icon-height: 48px;
    --image-size: 160px;
  }
}

.container {
  @include vars;
  .uploadButton {
    position: relative;
    background: var(--grad);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--black-shadow);
    border: 2px solid var(--black);
    transition: all var(--transition-time) ease;

    .icon {
      height: var(--icon-height);
    }

    p {
      overflow: visible;
    }

    &:hover,
    &.dragActive,
    &.uploaded {
      background: var(--white);
      border-color: var(--yellow);
      box-shadow: unset;
      * {
        color: var(--yellow) !important;
        fill: var(--yellow) !important;
      }
    }

    &.uploaded {
      width: auto !important;
      border-radius: var(--border-radius);
    }
  }
  .removeButton {
    position: absolute;
    top: var(--pad-2);
    right: var(--pad-2);

    z-index: 2;

    svg {
      width: 18px !important;
      height: 18px !important;
    }

    &:hover {
      scale: 1.05;
    }
  }
  .imageWrapper {
    position: relative;
    aspect-ratio: 1;
    height: var(--image-size) !important;
    border-radius: var(--border-radius);
    background: var(--off-white);
    border: 2px solid var(--black);
    overflow: hidden;
    .previewImage {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .addMore {
    aspect-ratio: 1;
    height: var(--image-size) !important;
    border-radius: var(--border-radius);
    border: 2px dashed var(--black);
    background: cc(--white, 0.4);
    cursor: pointer;
    transition: var(--transition-time-backoff);

    &:hover {
      border-color: var(--yellow);
      background: var(--white);
      box-shadow: var(--black-shadow);
    }

    p {
      overflow: visible;
    }
  }

  .filePreview {
    p {
      overflow-wrap: anywhere;
    }
  }

  .invalid {
    border: 2px solid var(--error);
    .required {
      color: var(--error) !important;
    }
  }

  .required {
    position: absolute;
    top: var(--pad-3);
    right: var(--pad-3);
    z-index: 2;
    width: auto !important;
  }
}
