@use "@/styles/mixins.scss" as *;

.embla {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--pad-3);

  justify-content: center;
  width: 100%;
  height: 100%;
  @media (min-width: $laptop) {
    height: 100%;
  }
}

.viewport {
  overflow: hidden;
  border-radius: var(--border-radius);
  aspect-ratio: 1;
  width: 100% !important;
  height: auto !important;
  @media (min-width: $laptop) {
    width: auto !important;
    height: 100% !important;
  }
}

.container {
  display: flex;
  gap: var(--pad-4);
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.slideImage {
  width: 100% !important;
  height: 100% !important;
  box-shadow: var(--drop-shadow);
}

.thumbsViewport {
  overflow: hidden;
}

.thumbsContainer {
  display: flex;
  gap: var(--pad-3);
}

.thumb {
  all: unset;
  cursor: pointer;
  aspect-ratio: 1;
  @include vari(--thumb-height, 48px, 64px, 72px, 96px);
  height: var(--thumb-height);
}

.thumbImage {
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--border-radius-small);
  transition: opacity var(--transition-time-backoff);

  img {
    filter: grayscale(1);
    opacity: 0.55;
  }
}

.selected .thumbImage img {
  filter: grayscale(0);
  opacity: 1;
}
