@use "@/styles/mixins.scss" as *;

.embla {
  width: 100%;

  .viewport {
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    aspect-ratio: 1;

    .container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      gap: var(--pad-4);

      .slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        aspect-ratio: 1;

        .slideImage {
          width: 100% !important;
          height: 100% !important;
          box-shadow: var(--drop-shadow);
        }
      }
    }
  }

  // Thumbnails
  .thumbsViewport {
    overflow: hidden;
    width: 100%;

    .thumbsContainer {
      display: flex;
      flex-direction: row;
      // justify-content: flex-start;
      touch-action: pan-x pinch-zoom;
      margin-left: 0 !important; // Add this
      padding-left: 0 !important; // Add this
    }
  }

  .thumb {
    all: unset;
    @include vari(--thumb-height, 64px, 96px, 72px, 96px);
    height: var(--thumb-height);
    aspect-ratio: 1;
    cursor: pointer;
    flex: 0 0 auto;

    .thumbImage {
      height: 100% !important;
      width: 100% !important;
      border-radius: var(--border-radius-small);
      transition: all var(--transition-time-backoff);

      img {
        filter: grayscale(1);
        opacity: 0.55;
      }
    }

    &.selected .thumbImage {
      box-shadow: var(--drop-shadow);

      img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}
