@use "@/styles/mixins.scss" as *;

.app {
  // @include flexColumn(flex-start, flex-start);

  min-height: 100vh;
  min-width: 100vw;
  // overflow-x: hidden;
  position: relative;
  background-color: var(--white);
}
