@use "@/styles/mixins.scss" as *;

.container {
  position: relative;
  height: auto;
  img {
    position: relative;
    top: 0;
    filter: drop-shadow(32px 32px 12px rgba(0, 0, 0, 0.3)) hue-rotate(-10deg);
    // transform-style: preserve-3d;
    animation: depthPulse 5s ease-in-out infinite;
    transform-origin: center;
  }
  @media (min-width: $laptop) {
    flex-direction: row !important;
    align-items: flex-start !important;
    img {
      position: sticky;
    }
  }
}

@keyframes depthPulse {
  0%,
  100% {
    transform: scale(1);
    filter: drop-shadow(24px 24px 10px rgba(0, 0, 0, 0.3)) hue-rotate(-10deg);
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(32px 32px 12px rgba(0, 0, 0, 0.3)) hue-rotate(-10deg);
  }
}
