@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --thumb-height: 80px;
  @media (min-width: $tablet) {
    --thumb-height: 120px;
  }

  @media (min-width: $laptop) {
    --thumb-height: 100px;
  }

  @media (min-width: $desktop) {
    --thumb-height: 120px;
  }
}

.embla {
  .viewport {
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    .container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      gap: var(--pad-4);
      .slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        aspect-ratio: 1;
        .image {
          width: 100% !important;
          height: 100% !important;
          box-shadow: var(--light-shadow);
          overflow: hidden !important;
          img {
            position: relative !important;
          }
        }
      }
    }
  }
}

.thumbs {
  @include vars;
  .viewport {
    overflow: hidden;
    .container {
      height: var(--thumb-height);
    }
  }
}

.thumb {
  height: 100%;
  aspect-ratio: 1;
  .image {
    height: 100% !important;
    width: 100% !important;
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);
    img {
      position: relative !important;
    }
  }
}
