@use "@/styles/mixins.scss" as *;

.backdrop {
  @include absoluteFill;
  @include flex(center, center);

  opacity: 1;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 20;
  // overflow-y: scroll;
  padding: var(--pad-7) 0;
  box-sizing: border-box;
  // cursor: pointer;
}
