@use "@/styles/mixins.scss" as *;

.modal {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius-large);
  filter: backdrop-filter(blur(8px));
  cursor: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--screen-width-large);
  // Mobile & Tablet: Full width, auto height

  width: 100%;
  height: 100%;
  overflow-y: auto;

  .closeButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}

.modalContainer {
  position: relative;
  width: 100%;

  height: fit-content;
  @media (min-width: $laptop) {
    height: 100%;
  }
}
.navArrow {
  @include vari(
    --button-pad,
    var(--pad-3),
    var(--pad-5),
    var(--pad-6),
    var(--pad-8)
  );
  all: unset;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  transition: opacity var(--transition-time-backoff);
  padding: 0 var(--button-pad);
  height: 100vh;
  &:hover {
    opacity: 0.8;
  }
}

.prevArrow {
  left: 0;
}

.nextArrow {
  right: 0;
}
