// Modal.module.scss
@use "@/styles/mixins.scss" as *;

.modal {
  @include flex;
  box-sizing: content-box;
  width: fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius-large);
  max-width: var(--screen-width-large);
  filter: backdrop-filter(blur(8px));

  cursor: auto;
  position: relative;

  .modalContainer {
    max-width: 100%;
    width: fit-content;
    // max-height: 100%;
    // width: 100%;
    height: fit-content;
    box-sizing: content-box;
    overflow: hidden;
  }
  .closeButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navArrow {
  @include vari(
    --button-pad,
    var(--pad-3),
    var(--pad-5),
    var(--pad-6),
    var(--pad-8)
  );
  all: unset;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  transition: opacity var(--transition-time-backoff);
  padding: 0 var(--button-pad);
  height: 100vh;
  &:hover {
    opacity: 0.8;
  }
}

.prevArrow {
  left: 0;
}

.nextArrow {
  right: 0;
}
