@import "../../../css/mixins.scss";

@mixin vars() {
  --stroke-height: 32px;
  @media (min-width: $tablet) {
    --stroke-height: 48px;
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
    --stroke-height: 64px;
  }
}

.block {
  @include vars;
  background: var(--white);

  &.light {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15) inset;
  }
  .title {
    position: relative;
    box-sizing: content-box;
    width: fit-content;
    .heading {
      z-index: 1;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: var(--stroke-height);
      object-fit: fill !important;
    }
  }
  .content {
    max-width: var(--screen-width-small);
  }
}
