@use "@/styles/mixins.scss" as *;

.block {
  position: relative;
  flex: 1;
  z-index: 2;
  // overflow: hidden;
  .content {
    z-index: 2;
  }
  &.shadow {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15) inset;
  }
  &.off-white {
    background: var(--off-white);
  }
  &.dark {
    background: var(--black);
  }
  &.dash {
    $stripe-gap: 2px;
    outline: 4px solid var(--black) !important;
    background: repeating-linear-gradient(
      -45deg,
      var(--light-grey) 0px,
      var(--light-grey) $stripe-gap,
      var(--white) $stripe-gap,
      var(--white) calc($stripe-gap * 6)
    );
  }
  &.wood {
    --border-width: 8px;
    position: relative;
    background: url("/photos/darkwood.webp");

    background-position: 50% 50%, 0 0; /* Image: center, Gradient: top-left */
    background-size: 100% auto, auto; /* Image: 50% width/height, Gradient: default */
    background-repeat: no-repeat, no-repeat; /* Prevent tiling for both */
    position: relative;
    overflow: visible;
    // border-top: var(--border-width) solid var(--yellow);
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, var(--black) 0%, transparent 100%);
      z-index: 1; // Keeps glow behind the content
    }
  }

  &.size_small {
    .content {
      max-width: var(--screen-width-small);
    }
  }

  &.size_default {
    .content {
      max-width: var(--screen-width-large);
    }
  }
  .fancyTitle {
    z-index: 4;
  }
}
