@use "@/styles/mixins.scss" as *;

.splider {
  @include vari(--columns, 1, 1, 3, 3);
  max-width: 100vw;
  position: relative;
  z-index: 1;

  &.carousel {
    z-index: 2;

    overflow: hidden;

    .emblaViewport {
      width: 100%;
      height: 100%;
    }

    .emblaContainer {
      display: flex;
      flex-direction: row;
      height: 100%;
      touch-action: pan-y pinch-zoom;
    }

    .emblaSlide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 100%;
      min-width: 0;
      box-sizing: border-box;

      &.content {
        @include flexColumn(stretch, stretch);

        > figure {
          height: calc(100vw * (3 / 4)) !important;
        }

        .imgGridWrapper {
          @include flex;
          @include vari(height, 50vh, 50vh, auto);
          width: 100%;
          overflow: hidden;

          .imgGrid {
            display: grid;
            gap: var(--pad-3);
            width: 100%;
            aspect-ratio: 1;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 33.3%);
            $deg: -15deg;
            @include vari(--scale, 2, 2, 1.5, 1.8);
            transform: rotateZ($deg) scale(calc(var(--scale) * cos($deg)));

            > * {
              box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
              border-radius: 4px;
            }
            .blur {
              filter: blur(4px) saturate(0.3) opacity(0.5);
            }
          }
        }
      }
    }

    .emblaControls {
      @include vari(--dot-height, 24px, 24px, 20px, 24px);
      position: absolute;
      bottom: 0;
      left: 0;

      .emblaDots {
        gap: var(--pad-2);
        padding: var(--pad-4) 0;
      }

      .emblaDot {
        height: var(--dot-height);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--grey);
        border: none;
        cursor: pointer;

        &.emblaDotSelected {
          background-color: var(--yellow);
        }
      }
      .emblaProgress {
        width: 100%; /* Adjust as needed */
        height: calc(var(--dot-height) / 4);
        background-color: var(--black); /* Grey background */
        border-radius: calc(var(--dot-height) / 4);
        outline: 2px solid var(--grey);
        outline-offset: -1px;
        overflow: hidden;
      }

      .emblaProgressBar {
        height: 100%;
        background-color: var(--grey); /* Yellow or your preferred color */
        transform: scaleX(0); /* Starts at 0 width */
        transform-origin: left;
        transition: transform 0.1s linear; /* Optional: Smooths the animation */
      }
    }
  }

  @media (min-width: $laptop) {
    .emblaSlide.content {
      flex-direction: row !important;
      flex: 1;
      min-width: 100%;

      > figure {
        height: 100% !important;
        flex: 1;
      }

      .imgGridWrapper {
        flex: 1;
        height: 100% !important;
      }
    }
  }
}
