@import "../../../css/mixins.scss";

@mixin vars() {
  --thumbnail-height: 60px;
  --wrapper-padding-bottom: var(--pad-5);
  --ratio: 4/3;
  @media (min-width: $tablet) {
    --thumbnail-height: 90px;
    --wrapper-padding-bottom: var(--pad-6);
    --ratio: 16/9;
  }

  @media (min-width: $laptop) {
    --thumbnail-height: 120px;
    --wrapper-padding-bottom: var(--pad-7);
    --ratio: unset;
  }

  @media (min-width: $desktop) {
    --thumbnail-height: 200px;
    --wrapper-padding-bottom: var(--pad-8);
  }
}

.wrapper {
  @include vars;
  @include flexColumn;

  width: 100%;
  height: 100%;
  max-width: 100vw;
  position: relative;

  .ui {
    @include absoluteFill;

    height: auto;
    aspect-ratio: var(--ratio);
    pointer-events: none;
    .progressBar {
      @include flex(flex-start);

      position: absolute;
      bottom: 5%;
      left: 20%;
      right: 20%;
      height: 8px;
      background-color: var(--white);
      border-radius: 4px;
      overflow: hidden;
      .progress {
        height: 100%;
        background: var(--yellow);
      }
    }

    .customArrows {
      @include flex(space-between, center);

      $padding: calc((100vw - var(--screen-width-large)) / 2);
      position: absolute;
      top: 0;
      left: $padding;
      right: $padding;
      height: 100%;
      z-index: 3;

      > * {
        cursor: pointer;
        pointer-events: all;
      }

      .prevArrow {
        left: 0;
      }

      .nextArrow {
        right: 0;
      }
    }
  }

  .content {
    @include flexColumn(stretch, flex-start);
    > * {
      position: relative !important;
      width: 100% !important;
    }
    img {
      aspect-ratio: var(--ratio);
    }
  }

  .container {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    .track {
      height: 100%;
    }
  }

  @media (min-width: $laptop) {
    .ui {
      height: 100%;
    }
    .content {
      flex-direction: row !important;
      > * {
        width: 50% !important;
      }
    }
  }
}
