@use "@/styles/mixins.scss" as *;

.sidebar {
  @include flexColumn(flex-start, flex-start);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  transform: translateX(100vw);
  z-index: 12;
  transition: transform 200ms ease;

  &.isOpen {
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.95;
  z-index: -1;
}

.closeTab {
  height: var(--navbar-height);
  background-color: var(--black);

  path:nth-child(2) {
    fill: var(--white);
  }
}

.tabs {
  overflow: hidden;
  max-width: 100%;
  .tabWrapper {
    background-color: var(--white);
    width: 100%;
    max-height: var(--navbar-height);
    height: fit-content;
    border-bottom: 2px solid hsl(from var(--black) h s l / 1);
    z-index: 1;
    &.selected {
      background: var(--grad) !important;
      // border-bottom: unset;
    }
    // Cleanup: Consolidated last-child and nth-last-child styles
    &:nth-last-child(2) {
      border-bottom: unset;
      background: var(--black);
      z-index: 0;
    }

    &:last-child {
      background-color: transparent;
      padding: var(--pad-3) var(--pad-4);
      height: fit-content;
      border-bottom: none;

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  .subTab {
    padding-left: var(--pad-4) !important;
  }
}
